<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"  />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv-3.7.2.min.js"></script>
      <script src="/javascripts/respond-1.4.2.min.js"></script>
    <![endif]-->
    <style type="text/css">
     body{
        word-break: break-all;
        font-family: sans-serif;
    /*    background-color: #2E2E2E;
        color:#fff;*/
      }
      #console li span,#console-search li span{
        margin-right: 15px;
      }
      .log-thrown,.log-sthrown{
        display: block;
      }
      .log-sthrown{
        margin-left: 50px;
      }
      p {
        margin: 0px;
      }
      #console li,#console-search li{
        padding: 5px 0;
      }

      #console-search li span.keyword-mark{
        margin: 0px;
        background: red;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="">
      </div>
    </div>
    <ul id="console-search">
    </ul>
    <ul id="console">
    </ul>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript">
      Date.prototype.Format = function (fmt) { //author: meizz 
          var o = {
              "M+": this.getMonth() + 1, //月份 
              "d+": this.getDate(), //日 
              "h+": this.getHours(), //小时 
              "m+": this.getMinutes(), //分 
              "s+": this.getSeconds(), //秒 
              "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
              "S": this.getMilliseconds() //毫秒 
          };
          if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
          for (var k in o)
          if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
          return fmt;
      }
      var keyword = '01000001';
      var pskip=0,nskip=0,limit=100;


      $(function(){
        $.post('/search',{'keyword':keyword},function(data){
            $('#console-search').append(html_format(data));
        });
        
        $('#console-search').delegate('li','click',function(){
          $('#console').empty();
          $('#console').append($(this).clone());
           var logId = $(this).attr('log-id');
           var logDate = $(this).attr('log-date');
           $.post('/through-prev',{'logId':logId,'logDate':logDate,'skip':pskip,'limit':limit},function(data){
                $('#console').prepend(html_format(data,'desc'));
                $.post('/through-next',{'logId':logId,'logDate':logDate,'skip':nskip,'limit':limit},function(data){
                  $('#console').append(html_format(data));
               });
           });
           
           $('#console').show();
           $('#console-search').hide();
        });



        $(window).on('scroll',function(){
          
        });
      });
      

      function html_format(data,sort){
         var htmlFrament = '';
         for (var i = 0 ;i<data.length;i++) {
              var item = '<li log-id = "'+data[i]._id+'" log-date="'+data[i].date+'"><p><span class="log-date">'+new Date(data[i].date).Format('yyyy-MM-dd hh:mm:ss.S')+'</span><span class="log-theadName">['+data[i].threadName+']</span><span class="log-level">'+data[i].level+'</span><span>'+data[i].loggerName+'</span><span>-</span><span>'+html_extrude(html_encode(data[i].message),keyword)+'</span></p>';
              if(data[i].thrown){
                var logThrown = data[i].thrown; 
                var thrownHtml = '<p><span class="log-thrown">';
                thrownHtml += '<span class="log-thrownType">Caused by: '+logThrown.type+'</span>';
                thrownHtml += '<span class="log-thrownMessage">'+logThrown.message+'</span></span>';
                for(var sti = 0 ; sti < logThrown.stackTrace.length;sti++){
                    thrownHtml += '<span class="log-sthrown"><span class="log-stClassName">at: '+logThrown.stackTrace[sti].className+'#'+logThrown.stackTrace[sti].methodName+'</span>';      
                    thrownHtml += '<span class="log-stFileName">'+logThrown.stackTrace[sti].fileName+':'+logThrown.stackTrace[sti].lineNumber+'</span></span>';     
                }
                thrownHtml += '</p>';
                item+=thrownHtml;
              }
              if(sort=='desc'){
                htmlFrament=(item+'</li>')+htmlFrament;  
              }else{
                htmlFrament=htmlFrament+(item+'</li>');  
              }
              
            };
        return htmlFrament;
      }

      function html_encode(str) {
          var s = "";
          if (str.length == 0) return "";
          s = str.replace(/</g, "&lt;");
          s = s.replace(/>/g, "&gt;");
          return s;
      }

      function html_extrude(str,keyword) {
          return str.replace(new RegExp(keyword), '<span class="keyword-mark">'+keyword+'</span>');
      }

    </script>
  </body>
</html>